:host {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.app {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    &.noTransition {
        transition: none;
    }
    header {
        height: 64px;
        position: absolute;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        .toolbar {
            width: 80%;
            height: 48px;
            background-color: white;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            padding: 8px 0 8px 8px;
            pointer-events: all;
            box-sizing: border-box;
            .powered {
                font-size: 10px;
                align-self: flex-start;
                padding-right: 6px;
            }
            .nav {
                flex: 0 0 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .logo {
                background-image: url('./../../assets/img/logo-AB_2.png');
                background-size: contain;
                height: 100%;
                flex: 1 0 0;
                background-repeat: no-repeat;
                background-position: left center;
            } // .search {
            // }
        }
    }
    .wait {
        width: 200px;
        position: absolute;
        left: calc(50% - 100px);
        top: 25vh;
        background-color: white;
        border-radius: 4px;
        border: 2px solid lightslategray;
        z-index: 1;
        display: flex;
        justify-content: center;
        .waiting-text {}
        .waiting-anim {
            min-width: 15px;
            align-self: flex-end;
        }
        .waiting-anim:after {
            // https://codepen.io/vkjgr/pen/gbPaVx
            content: ' .';
            animation: dots 1s steps(5, end) infinite;
        }
        @keyframes dots {
            0%, 20% {
                color: rgba(0, 0, 0, 0);
                text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
            }
            40% {
                color: lightslategray;
                text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
            }
            60% {
                text-shadow: .25em 0 0 lightslategray, .5em 0 0 rgba(0, 0, 0, 0);
            }
            80%, 100% {
                text-shadow: .25em 0 0 lightslategray, .5em 0 0 lightslategray;
            }
        }
    }
    .ios-notification {
        position: absolute;
        bottom: 10vh;
        height: 35vh;
        width: 80%;
        left: calc(50% - 40%);
        z-index: 999;
        background-color: white;
        box-shadow: 0 0px 200px 140px rgba(0, 0, 0, 0.6);
        box-sizing: border-box;
        padding: 18px;
        outline: 1px solid green;
        outline-offset: -6px;
        margin-bottom: -6px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .text {
            max-width: 240px;
            img {
                width: 40%;
                vertical-align: middle;
            }
        }
        .button {
            height: 48px;
            width: 120px;
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid green;
        }
    }
    main {
        overflow: auto;
        .map {
            height: 60vh;
            width: 100%;
            will-change: transform;
            agm-map {
                height: 100%;
                ::ng-deep {
                    .si-wrapper-top {
                        pointer-events: none;
                    }
                    .si-has-border .si-content-wrapper {
                        border: 1px solid black;
                        padding: 16px 16px 8px 16px;
                        .si-content {
                            max-width: 60vw;
                            max-height: 12vh;
                            .marker-content {
                                pointer-events: all;
                                overflow: hidden;

                                .title {
                                    font-size: 18px;
                                    line-height: 18px;
                                    font-family: 'Times New Roman';
                                    max-height: calc(2 * 18px);
                                    overflow: hidden;
                                }
                                .source {
                                    font-size: 11px;
                                    color: green;
                                    margin-top: 4px;
                                }
                                .action {
                                    text-align: right;
                                    text-transform: uppercase;
                                    font-size: 11px;
                                    line-height: 11px;
                                    color: green;
                                    margin-top: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .content {
            z-index: 1;
            overflow: hidden;
            height: 70vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.4);
            background-color: white;
            transform: translate3d(0, 0, 0); // to overlay map
            border-top: 3px solid green;
            box-sizing: border-box;

            .content-bar {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                z-index: 2;
                box-shadow: 0 0 0 0;
                transition: box-shadow 0.2s ease-out;

                &.shadow {
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
                }

                .bar-icon {
                    flex: 1;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: green;
                    flex-wrap: wrap;
                    position: relative;
                    i {
                        color: darkslategray;

                        &.active {
                            color: green;
                        }
                    }
                    &.query-radius {
                        i {
                            top: -1px;
                            position: relative;
                        }
                    }
                    .headline {
                        font-size: 11px;
                        font-style: italic;
                        flex: 1 0 100%;
                        text-align: center;
                        bottom: 0;
                        position: absolute;
                    }
                }
            }
            .cards {
                overflow: auto;
                height: 100%;
                &.noScroll {
                    overflow: hidden;
                }
                &.content-footer {
                    padding-bottom: 52.5%;
                    background-image: url('./../../assets/img/abfooter.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: bottom center;
                    
                }
                .card {
                    display: flex;
                    flex-direction: column;
                    padding: 6px 10px;
                    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 -3px 3px -2px rgba(0, 0, 0, 0.2), 0 0 40px 10px rgba(255, 255, 255, 0.6);
                    margin: 14px 20px;
                    position: relative;
                    z-index: 1;
                    background-color: white;

                    &:first-child {
                        margin-top: 4px;
                    }
                    .top {
                        flex: 0 0 auto;
                        text-align: right;
                        text-transform: uppercase;
                        font-size: 11px;
                        line-height: 11px;
                        color: green;
                    }
                    .news-content {
                        flex: 1 1 auto;
                        display: flex;
                        .img {
                            flex: 1;
                        }

                        &.reverse {
                            flex-direction: row-reverse;
                        }

                        &.extra {
                            flex-wrap: wrap;

                            .img.extra {
                                padding: 12px;
                                &::ng-deep {
                                    img {
                                        border: 1px solid darkgray;
                                    }
                                }
                            }
                            .title.extra {
                                font-size: 18px;
                                line-height: 18px;
                                font-family: 'Times New Roman';
                                max-height: calc(3 * 18px);
                                overflow: hidden;
                                flex: 0 0 100%;
                            }
                        }
                        .right {
                            margin-left: 14px;
                            flex: 2;
                            .title {
                                font-size: 18px;
                                line-height: 18px;
                                font-family: 'Times New Roman';
                                max-height: calc(3 * 18px);
                                overflow: hidden;
                            }
                            .source {
                                font-size: 11px;
                                color: green;
                                margin-top: 4px;
                            }
                            .text {
                                font-size: 14px;
                                line-height: 15px;
                                margin-top: 6px;
                                max-height: calc(5 * 15px);
                                overflow: hidden;
                            }
                        }
                    }
                    .bottom {
                        font-size: 10px;
                        color: green;
                        text-transform: uppercase;
                        hr {
                            margin-bottom: 0;
                        }
                        .dist {
                            display: inline;
                        }
                        .link {
                            float: right;
                        }
                    }
                }
                .extraurbanlink {
                    text-align: center;
                    margin: 0 auto;
                    bottom: 18vw;
                    left: calc(50% - 100px);
                    color: white;
                    position: absolute;
                    border: 1px solid;
                    width: 200px;
                }
            }
        }
    }
}

.external {
    transition: transform 0.3s;
    position: absolute;
    width: 100%;
    height: 100vh;
    border-left: 2px solid transparent;
    &.noTransition {
        transition: none;
    }
}